.nav {
  
    text-align: center;
    font-size: large;
    text-shadow: 2px 3px 10px rgb(0, 0, 0);
    
  }
  .container_presentation {
    background-color: #7a1010;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #274C77;
    box-shadow: 2px 2px 10px 1px rgb(83, 79, 79);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 28px;
    text-decoration: none;
    
  }
  #subtitlu {
      background-color: #274C77;
      margin-left: 42vw;
      margin-right: 40vw;
      text-align: center;
      box-shadow: 2px 1px 15px 5px rgb(156, 133, 133);
      border-radius: 22px;
  }
#subtitlu:hover {
    box-shadow: 2px 1px 15px 10px rgb(156, 133, 133);
    border-radius: 22px;
}


  body {
    background-color: #f4faff;
    margin: 0;
    color: rgb(255, 255, 255);
    
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #3f6794;
  }
  
  #wrapper {
    background-color: rgb(8, 5, 5);
    margin: 0;
   
  }
  #div1 {
    display:grid;
    
    background-color: #A3CEF1;
    
  }
  #linkuri {
   margin-left: 23.8vw;
   margin-top: 5vh;
   display: inline-block;
   
  }
  #div2 {
    display: inline-block;
    width: 100vw;
    height: 13vh;
    margin-top: 5vh;
    background-color: #E7ECEF;
    box-shadow: 2px 5px 30px gray;
  }
  
  #titlu {
    font-size:18;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin-top: 30px;
  }
  #designed {
    font-size:x-large;
    color: #fdffff;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(56, 49, 49);
    margin-left: 41.6vw;
    margin-top: 1.5vh;
    
  }
  #copyright {
    position: absolute;
    margin-left: 18vw;
  }
  #container {
    background-color: whitesmoke;
    height: 80vh;
    width: 95vw;
    box-shadow: 2px 2px 10px 3px rgb(180, 180, 180);
    text-shadow: 2px 1px 2px  rgb(182, 162, 162);
    margin-top: 4vh;
    margin-left: 2vw;
    margin-right: 55vw;
    color: #1C3738;
    border-color: #9dafc4;
  }
  .pula {
   margin-left: 1vw;
   
  }
  
  .pipi {
    margin-left: 19vw;
    margin-top: 2vh;
    
  }
  
  #footer{
    position: relative;
    background-color: #274C77;
    height: 16vh;
    margin-top: 15vh;
    box-shadow: 15px 40px 10px 40px rgb(0, 0, 0);
   
  }
  #jos {
    background-color: #E59500;
  }
  
  #definitie {
    font-size: x-large;
    margin-top: 2vh;
    margin-left: -6vw;
    color: white;
  }
  #role {
    margin-top: 7vh;
    font-size: x-large;
    margin-left: 2vw;
    text-shadow: 1px 1px 10px rgb(56, 49, 49);
  }
  #gif {
    width: 40vw;
    height: 50vh;
    border-radius: 50px;
    margin-left: 8vw;
    margin-top: 3vh;
  
    background-color: #1C3738;
    box-shadow: 2px 2px 10px 8px  gray;
  }
  #gif:hover{
    box-shadow: 2px 2px 8px 12px gray;
  }
  #gif2 {
    width: 40vw;
    height: 50vh;
    border-radius: 50px;
    margin-left: 1vw;
    margin-top: 2vh;
    background-color: #1C3738;
    box-shadow: 2px 2px 10px 8px  gray;
  }
  #gif2:hover {
    box-shadow: 2px 2px 8px 12px gray;
  }
  
  #descriere {
  font-size: xx-large;
  color: white;
  }